.slick-prev {
  left: -25px !important;
}
.slick-next {
  right: -25px !important;
}

.slick-dots {
  bottom: -30px !important;
}

.slick-arrow:before {
  color: #000 !important;
  font-size: 24px !important;
}

.recommended-items__wrapper {
  position: relative;
  padding: 0 20px;
}

.recommended-items__wrapper .slick-arrow {
  z-index: 2;
  width: 36px;
  height: 36px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

.recommended-items__wrapper .slick-prev {
  left: 0px;
}
.recommended-items__wrapper .slick-next {
  right: 0px;
}
